* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
}
.words-row a, .sect-10 a, .icon-a {
  color: white;
}
.hov-body-1-1 span {
  color: #2190cd;
}
.hov-body-1-1-1 a {
  color: black;
}
.hov-bro-body p, .hov-bro-body-2 p, .hov-bro-body-6 p, .hov-bro-body-8 p {
  font-weight: 700;
}
.bar-n {
  width: 100%;
  height: 60px;
  padding: 0px 50px 0px 50px;
  display: flex;
  background-color: #12151b;
  flex-direction: row;
  align-items: center;
}
.p-bill, .bmg {
    margin: 0;
}
.p-bill {
  font-weight: 600;
}
.divnav-1 {
  display: flex;
  margin-right: 15px;
}
.divnav-2 {
  display: flex;
  margin-right: 250px;
}
.pap {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #e60278;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}
.bot-billy {
  display: flex;
  background-color: transparent;
  border: none;
  gap: 10px;
  margin-top: 15px;
  color: white;
}
.mon-u {
  margin-left: -35px;
}
.img-nav-1 {
  width: 145px;
  height: 32px;
}
.blank {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-top: 7px;
}
.divnav-2-1, .divnav-2-2, .divnav-2-3 {
  display: flex;
  gap: 10px;
  color: white;
}
.divnav-3 {
  display: flex;
  line-height: 0;
  margin-right: 15px;
}
.only-icon {
  padding: 15px 10px;
}
.only-icon:hover {
  background-color: #232a35;
}
.divnav-4 {
    margin-right: 15px;
}
.words-row {
  padding: 15px 50px;
  background-color: #232a35;
}
.words-row-1 {
  padding: 0px 20px;
}
.folder {
    position: relative;
}
.hov-bro {
  width: 64%;
  padding: 25px;
  position: absolute;
  top: 70px;
  box-shadow: 0px 0px 15px -10px;
  flex-direction: column;
  gap: 25px;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.a-2-1:hover .hov-bro {
  display: flex;
}
.a-2-1:focus-within .hov-bro {
  display: flex;
}
.hov-input {
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.inp-bar {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}
.hov-body-1-1 {
  display: flex;
  gap: 7px;
}
.hov-body-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: -10px;
}
.hov-head-1 {
  font-size: 16px;
  font-weight: 700;
}
.new-p {
  margin-top: -15px;
  line-height: 18px;
}
.hov-bro-2 {
  width: 30%;
  padding: 25px;
  position: absolute;
  top: 70px;
  left: 180px;
  box-shadow: 0px 0px 15px -10px;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.a-2-1:hover .hov-bro-2 {
  display: block;
}
.a-2-1:focus-within .hov-bro-2 {
  display: block;
}
.hov-bro-body, .hov-bro-body-2, .hov-bro-body-6, .hov-bro-body-8 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.hov-bro-body-1, .hov-bro-body-9 {
  text-align: center;
  padding: 0px 15px;
  font-size: 16px;
  margin-top: -10px;
}
.hov-bro-body-3, .hov-bro-body-4, .hov-bro-body-5 {
  display: flex;
  gap: 15px;
  font-size: 16px;
  margin-top: -10px;
}
.hov-bro-body-7 {
  display: flex;
  gap: 15px;
  margin-top: -10px;
}
.hov-bro-3 {
  width: 33%;
  padding: 25px;
  position: absolute;
  top: 70px;
  right: 280px;
  box-shadow: 0px 0px 15px -10px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.hov-bro-3-1 {
  margin-bottom: 110px;
  font-size: 16px;
  font-weight: 700;
}
.hov-bro-3-2 {
  margin-bottom: 20px;
  text-align: center;
}
.hov-bro-3-3 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 20px;
}
.hov-bro-3-4 {
  text-align: center;
  margin-bottom: 100px;
}
.bot-search {
  padding: 20px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.only-icon:hover .hov-bro-3 {
  display: flex;
}
.only-icon:focus-within .hov-bro-3 {
  display: flex;
}
.a-2-1 {
  padding: 15px 10px;
}
.a-2-1:hover {
  background-color: #232a35; 
}
.hov-bro-5 {
  width: 33%;
  padding: 25px;
  position: absolute;
  top: 70px;
  right: 150px;
  box-shadow: 0px 0px 15px -10px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.hov-bro-5-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.rec {
  font-weight: 700;
}
.hov-bro-5-2 {
  text-align: center;
}
.hov-bro-5-3 {
  line-height: 20px;
  text-align: center;
  margin-bottom: 190px;
}
.only-icon:hover .hov-bro-5 {
  display: flex;
}
.only-icon:focus-within .hov-bro-5 {
  display: flex;
}
.hov-bro-7 {
  width: 28%;
  height: 75vh;
  padding: 20px 20px 5px 25px;
  position: absolute;
  top: 70px;
  right: 40px;
  box-shadow: 0px 0px 15px -10px;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
}
.divnav-5:hover .hov-bro-7 {
  display: flex;
}
.divnav-5:focus-within .hov-bro-7 {
  display: flex;
}
.hov-side-1, .hov-side-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-p, .side-p-2 {
  font-weight: 500;
}
.side-p-2 {
  margin-top: 20px;
}
.hov-side-2 {
  margin-bottom: -15px;
}
.gibbresh {
  font-size: 14px;
  text-align: center;
}
.side-a {
  text-decoration: none;
  color: black;
}
.side-a:hover {
  color: #2190cd;
}
.sect-2 {
  padding: 10px 50px 60px 50px;
  width: 100%;
  display: flex;
  gap: 40px;
}
.part-1 {
  background-color: #eaf2fd;
  padding: 20px 30px 30px 20px;
  width: 66%;
  height: max-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px #12151b40;
}
.part-1-1 {
  display: flex;
  gap: 20px;
}
.img-part-1 {
  height: 50px;
  border-radius: 5px;
}
.ago {
  margin-top: -15px;
}
.part-1-2 {
  display: flex;
  padding-left: 100px;
  gap: 40px;

}
.bot-ver  {
  margin-left: 10px;
  border: 1px solid white;
  background-color: #eef0f4;
  color: #bcc5d3;
  width: 150px;
  padding: 5px 0px;
  font-weight: bold;
  border-radius: 5px;
}
.bot-prof  {
  margin-left: 50px;
  width: 130px;
  padding: 5px 0px;
  font-weight: bold;
  color: #3d4a5d;
  background-color: #fcfcfd;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.bot-browse {
  margin-left: 90px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  width: 148px;
  padding: 5px 0px;
  color: #e60278;
  font-weight: bold;
}
.bot-prof:hover {
  background-color: #bcc5d3;
}
.bot-browse:hover {
  background-color: #ffd7d7cc;
}
.ema-un {
  margin-top: -20px;
}
.ema {
  font-weight: bold;
}
.part-2 {
  width: 34%;
  display: flex;
  flex-direction: column;
}
.progress {
  height: 10px;
}
.part-2-1 {
  display: flex;
  justify-content: space-between;
}
.set {
  font-weight: 500;
}
.part-span {
  display: flex;
  gap: 10px;
}
.part-2-4 {
  border: 1px solid #e60278;
  border-radius: 5px;
  padding: 20px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
}
.part-2-5 {
  display: flex;
  justify-content: space-between;
}
.part-2-6 {
  display: flex;
  justify-content: space-between;
}
.us {
  width: 25px;
  height: 20px;
}
.part-2-9, .part-2-11, .part-2-13 {
  display: flex;
  justify-content: space-between;
}
.part-2-3, .part-2-7, .part-2-8, .part-2-10, .part-2-12 {
  font-weight: 500;
}
.part-2-2, .part-2-3, .part-2-4 {
  margin-top: 15px;
}
hr {
  margin-top: 25px;
  z-index: -5;
}
.part-2-8, .part-2-10, .part-2-12 {
  margin-top: 15px;
}
.sect-10 {
  display: flex;
  padding: 40px 40px 80px 40px;
  width: 100%;
  background-color: #12151b;
  justify-content: space-between;
  color: white;
}
.div10-1, .div10-2-2, .div10-3-2 {
  display: flex;
  flex-direction: column;
}
.div10-1-2 {
  display: flex;
  gap: 10px;
}
.div10-1-1 {
  margin-bottom: 30px;
}
.div10-2-2 {
  margin-top: 10px;
}
.div10-3-2 {
  margin-top: 15px;
  gap: 20px;
}
.div10-2-1, .div10-3-1 {
  font-size: 16px;
  font-weight: 700;
}
.div10-1 {
  padding-right: 60px;
}
.free-a:hover, .free-b:hover {
  color: #2190cd;
  text-decoration: underline;
  text-underline-offset: 2px;
}
a{
  text-decoration: none;
}




@media (max-width: 1029.33px) {
  .bar-n {
    width: 100%;
    height: 60px;
    padding: 0px 15px 0px 15px;
    display: flex;
    background-color: #12151b;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }
  .divnav-2 {
    display: flex;
    margin-right: 100px;
  }
  .p-bill {
    text-wrap: nowrap;
    overflow: hidden;
    font-weight: 700;
  }
  .words-row {
    padding: 15px 15px;
  }
  .words-row-1 {
    font-size: 16px;
  }
  .sect-2 {
    padding: 10px 30px 60px 15px;
    width: 100%;
    gap: 40px;
  }
  .part-1 {
    background-color: #eaf2fd;
    padding: 20px 30px 30px 20px;
    width: 67%;
    height: max-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px #12151b40;
  }
}
@media (max-width: 958px) {
    .bmg {
      display: none;
    }
    .divnav-2 {
      display: flex;
      margin-right: 0px;
    }
    .divnav-4 {
     margin-left: auto;
    }
    .sect-2 {
      padding: 10px 15px 60px 15px;
      width: 100%;
      gap: 20px;
      display: flex;
      flex-direction: column;
    }
    .part-1 {
      background-color: #eaf2fd;
      padding: 20px 30px 30px 20px;
      width: 100%;
      height: max-content;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 1px 2px #12151b40;
      gap: 20px;
    }
    .part-2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0px 30px;
    }
    .progress {
      height: 10px;
    }
    .part-2-7, .part-2-8, .part-2-9, .part-2-10, .part-2-11, .part-2-12, .part-2-13 {
      display: none;
    }
    
}
@media (max-width: 766px) {
       .words-row {
        display: none;
       }
       .sect-10 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .div10-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .div10-3-2 {
        display: flex;
        flex-direction: row;
        gap: 80px;
        width: 160px;
        height: 60px;
    }
    .divnav-4, .divnav-5 {
      display: none;
    }
    .divnav-2 {
      margin-right: -17.5rem;
    }
    .divnav-2, .divnav-3 {
      margin-left: auto;
    }
    .a-2-1:hover .hov-bro, .a-2-1:hover .hov-bro-2, .only-icon:hover .hov-bro-3, .only-icon:hover .hov-bro-5 {
      display: none;
    }
}
@media (max-width: 414px) {
       .divnav-2{
        display: none;
       }
       .part-1-2 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        gap: 40px;
       }
       .child-part-21 {
        margin-top: -65px;
        margin-left: 30px;
       }
       .child-part-22 {
        margin-top: -50px;
       }
       .bot-prof {
        margin-left: 30px;
       }
       .bot-browse {
        margin-left: 20px;
       }
       .bot-ver {
        margin-left: 30px;
       }
       
}


