* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .words-row a, .sect-10 a, .icon-a {
      color: white;
    }
    .hov-body-1-1 span {
      color: #2190cd;
    }
    .hov-body-1-1-1 a {
      color: black;
    }
    .hov-bro-body p, .hov-bro-body-2 p, .hov-bro-body-6 p, .hov-bro-body-8 p {
      font-weight: 700;
    }
    .bar-n {
      width: 100%;
      height: 60px;
      padding: 0px 50px 0px 50px;
      display: flex;
      background-color: #12151b;
      flex-direction: row;
      align-items: center;
    }
    .p-bill, .bmg {
        margin: 0;
    }
    .p-bill {
      font-weight: 600;
    }
    .divnav-1 {
      display: flex;
      margin-right: 15px;
    }
    .divnav-2 {
      display: flex;
      margin-right: 250px;
    }
    .pap {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      background-color: #e60278;
      font-weight: 600;
      color: white;
      white-space: nowrap;
    }
    .bot-billy {
      display: flex;
      background-color: transparent;
      border: none;
      gap: 10px;
      margin-top: 15px;
      color: white;
    }
    .mon-u {
      margin-left: -35px;
    }
    .img-nav-1 {
      width: 145px;
      height: 32px;
    }
    .blank {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      margin-top: 7px;
    }
    .divnav-2-1, .divnav-2-2, .divnav-2-3 {
      display: flex;
      gap: 10px;
      color: white;
    }
    .divnav-3 {
      display: flex;
      line-height: 0;
      margin-right: 15px;
    }
    .only-icon {
      padding: 15px 10px;
    }
    .only-icon:hover {
      background-color: #232a35;
    }
    .divnav-4 {
        margin-right: 15px;
    }
    .words-row {
      padding: 15px 50px;
      background-color: #232a35;
    }
    .words-row-1 {
      padding: 0px 20px;
    }
    .folder {
        position: relative;
    }
    .hov-bro {
      width: 64%;
      padding: 25px;
      position: absolute;
      top: 70px;
      box-shadow: 0px 0px 15px -10px;
      flex-direction: column;
      gap: 25px;
      background-color: white;
      border-radius: 5px;
      display: none;
      z-index: 10;
    }
    .a-2-1:hover .hov-bro {
      display: flex;
    }
    .a-2-1:focus-within .hov-bro {
      display: flex;
    }
    .hov-input {
      border: 1px solid black;
      border-radius: 50px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .inp-bar {
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
    }
    .hov-body-1-1 {
      display: flex;
      gap: 7px;
    }
    .hov-body-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 10px;
      margin-top: -10px;
    }
    .hov-head-1 {
      font-size: 16px;
      font-weight: 700;
    }
    .new-p {
      margin-top: -15px;
      line-height: 18px;
    }
    .hov-bro-2 {
      width: 30%;
      padding: 25px;
      position: absolute;
      top: 70px;
      left: 180px;
      box-shadow: 0px 0px 15px -10px;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      border-radius: 5px;
      display: none;
      z-index: 10;
    }
    .a-2-1:hover .hov-bro-2 {
      display: block;
    }
    .a-2-1:focus-within .hov-bro-2 {
      display: block;
    }
    .hov-bro-body, .hov-bro-body-2, .hov-bro-body-6, .hov-bro-body-8 {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
    }
    .hov-bro-body-1, .hov-bro-body-9 {
      text-align: center;
      padding: 0px 15px;
      font-size: 16px;
      margin-top: -10px;
    }
    .hov-bro-body-3, .hov-bro-body-4, .hov-bro-body-5 {
      display: flex;
      gap: 15px;
      font-size: 16px;
      margin-top: -10px;
    }
    .hov-bro-body-7 {
      display: flex;
      gap: 15px;
      margin-top: -10px;
    }
    .hov-bro-3 {
      width: 33%;
      padding: 25px;
      position: absolute;
      top: 70px;
      right: 280px;
      box-shadow: 0px 0px 15px -10px;
      flex-direction: column;
      background-color: white;
      border-radius: 5px;
      display: none;
      z-index: 10;
    }
    .hov-bro-3-1 {
      margin-bottom: 110px;
      font-size: 16px;
      font-weight: 700;
    }
    .hov-bro-3-2 {
      margin-bottom: 20px;
      text-align: center;
    }
    .hov-bro-3-3 {
      text-align: center;
      margin-bottom: 20px;
      line-height: 20px;
    }
    .hov-bro-3-4 {
      text-align: center;
      margin-bottom: 100px;
    }
    .bot-search {
      padding: 20px 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
    }
    .only-icon:hover .hov-bro-3 {
      display: flex;
    }
    .only-icon:focus-within .hov-bro-3 {
      display: flex;
    }
    .a-2-1 {
      padding: 15px 10px;
    }
    .a-2-1:hover {
      background-color: #232a35; 
    }
    .hov-bro-5 {
      width: 33%;
      padding: 25px;
      position: absolute;
      top: 70px;
      right: 150px;
      box-shadow: 0px 0px 15px -10px;
      flex-direction: column;
      background-color: white;
      border-radius: 5px;
      display: none;
      z-index: 10;
    }
    .hov-bro-5-1 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    .rec {
      font-weight: 700;
    }
    .hov-bro-5-2 {
      text-align: center;
    }
    .hov-bro-5-3 {
      line-height: 20px;
      text-align: center;
      margin-bottom: 190px;
    }
    .only-icon:hover .hov-bro-5 {
      display: flex;
    }
    .only-icon:focus-within .hov-bro-5 {
      display: flex;
    }
    .hov-bro-7 {
      width: 28%;
      height: 75vh;
      padding: 20px 20px 5px 25px;
      position: absolute;
      top: 70px;
      right: 40px;
      box-shadow: 0px 0px 15px -10px;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      overflow-y: scroll;
      display: none;
      z-index: 10;
    }
    .divnav-5:hover .hov-bro-7 {
      display: flex;
    }
    .divnav-5:focus-within .hov-bro-7 {
      display: flex;
    }
    .hov-side-1, .hov-side-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .side-p, .side-p-2 {
      font-weight: 500;
    }
    .side-p-2 {
      margin-top: 20px;
    }
    .hov-side-2 {
      margin-bottom: -15px;
    }
    .gibbresh {
      font-size: 14px;
      text-align: center;
    }
    .side-a {
      text-decoration: none;
      color: black;
    }
    .side-a:hover {
      color: #2190cd;
    }
    a{
      text-decoration: none;
    }
  .hidden-div {
    padding: 10px 20px;
    width: 100%;
    display: none;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .hid-a {
    color: black;
  }
 
  .bot-hid-1 {
    color: #589af0;
    background-color: white;
    border: 1px solid #eef0f4;
    border-radius: 5px;
    padding: 5px 17px;
    font-size: 30px;
    margin-top: -8px;
  }
  .bot-hid-2 {
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
    border: none;
  }
  .hid-2-1 {
    display: flex;
    gap: 3px;
  }
  .star {
    fill: #bcc5d3;
  }
  .hid-a {
    padding: 0px 20px;
  }
  .reviews {
    margin-top: -3px;
  }
  .sect-4 {
    width: 100%;
    height: 35vh;
    padding: 20px 30px;
    background-image: url(cover-product.webp);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
  }
  .bot-uplod {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: #3d4a5d;
  }
  .sect-5 {
    width: 100%;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    gap: 50px;
  }
  .big-blank {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 10px;
    top: 170px;
    z-index: 7;
    box-shadow: 0px 0px 15px -10px;
  }
  .div-5-1 {
    margin-top: -135px;
  }
  .div-5-2 {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    padding-top: 20px;
  }
  .sect-6 {
    width: 100%;
    display: flex;
    padding: 15px 50px 0px 50px;
    justify-content: space-between;
  }
  .div-6-1 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .p-6-1 {
    font-size: 48px;
    font-weight: 700;
  }
  .p-6-2 {
    font-size: 41px;
    font-weight: 300;
  }
  .bot-edit {
    font-size: 20px;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 30px;
    color: #3d4a5d;
  }
  .sect-7 {
    padding: 0px 50px 15px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .div-7-1, .div-7-2 {
    display: flex;
    flex-direction: column;
  }
  .div-7-1-1 {
    display: flex;
  }
  .rev-1, .rev-2 {
    margin-top: 5px;
  }
  .rev-1 {
    margin-right: 20px;
  }
  .div-7-2 {
    padding: 16px;
    width: 250px;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0px 0px 3px -1px;
    gap: 10px;
    position: sticky;
    top: 100px;
  }
  .div-7-21 {
    padding: 16px;
    width: 250px;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0px 0px 3px -1px;
    gap: 10px;
    position: sticky;
    top: 100px;
  }
  .div-7-2-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .div-7-1-2 {
    font-size: 32px;
    font-weight: 700;
  }
  .div-7-2-1 {
    font-size: 16px;
    font-weight: 500;
  }
  .ver-2 {
    font-size: 16px;
    font-weight: 500;
  }
  .nig {
    width: 22px;
    height: 15px;
  }
  .div-7-1-3 {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 15px;
  }
  .div-7-1-4 {
    padding-top: 15px;
  }
  .sect-8 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    gap: 90px;
  }
  .div-8-1 {
    display: flex;
    justify-content: space-between;
  }
  .div-8-2 {
    text-align: center;
  }
  .port {
    font-size: 32px;
    font-weight: 700;
  }
  .man {
    font-size: 16px;
    font-weight: 500;
  }
  .sect-9 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    gap: 90px;
  }
  .div-9-1 {
    display: flex;
    justify-content: space-between;
  }
  .div-9-1-1 {
    display: flex;
    align-items: center;
  }
  .starb {
    margin-top: -10px;
  }
  .div-9-2 {
    text-align: center;
  }
  .div-9-1-1 {
    font-size: 32px;
    font-weight: 700;
  }
  .pink-rev, .ill {
    padding-bottom: 20px;
  }
  .sect-10 {
    width: 100%;
    padding: 15px 350px 150px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .div-10-1 {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 700;
  }
  .div-10-1-1 {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  .add-ex {
    color: black !important;
    padding: 10px;
  }
  .add-ex:hover {
    background-color: #cccccc80;
  }
  .div-10-2 {
    font-style: italic;
  }
  .sect-11 {
    display: flex;
    padding: 40px 40px 80px 40px;
    width: 100%;
    background-color: #12151b;
    justify-content: space-between;
    color: white;
  }
  .div11-1, .div11-2-2, .div11-3-2 {
    display: flex;
    flex-direction: column;
  }
  .div11-1-2 {
    display: flex;
    gap: 10px;
  }
  .div11-1-1 {
    margin-bottom: 30px;
  }
  .div11-2-2 {
    margin-top: 10px;
  }
  .div11-3-2 {
    margin-top: 15px;
    gap: 20px;
  }
  .div11-2-1, .div11-3-1 {
    font-size: 16px;
    font-weight: 700;
  }
  .div11-1 {
    padding-right: 60px;
  }
  .free-b, .free-a {
    color: white;
  }
  .free-b:hover, .free-a:hover {
    color: #2190cd;
    text-decoration: underline;
    text-underline-offset: 2px;
  }




  @media (max-width: 1029.33px) {
    
  }
  @media (max-width: 891.33px) {
      
  }
  @media (max-width: 792px) {
         
  }
  @media (max-width: 941.33) {
         
  }
  @media (max-width: 701.33px) {
      
  }
  @media (max-width: 656px) {
      
  }
  @media (max-width: 428px) {
      
      
  }
  


  
